#contacto-footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(19, 19, 19);
  margin: 3rem 0rem 0rem 0rem;
  color: rgb(197, 197, 197);
  width: 100%;
}
#informacion-psico-contacto{
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#pic-imagen-footer{
  padding-left: 28%;
}

#logo-footer{
  width: 5vh;
}

#cont-texto-footer{
  padding-top: 0.1rem;
  font-size: 1.3vh;
}

#redes-sociales-footer{
  display: flex;
  flex-direction: row;
  justify-items: center;
  gap: 1.5em;
  margin-right: 3vh;
  list-style: none;
}

.logos-redes-sociales{
  color: rgb(197, 197, 197);
}

@media (max-width: 1400px){
  #logo-footer{
    width: 5vh;
  }
  
  #cont-texto-footer{
    padding-top: 0.5rem;
    font-size: 1vh;
  }
}