#logo-cabecera{
  width: 45vh;
}

#barra-de-nav{
  display: flex;
  flex-direction: row;
  gap: 1.4rem;
}

.barra-de-navegacion{
  background-color: rgb(45, 45, 45);
  color: white;
  font-size: 1.4rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
}

.barra-de-navegacion:hover{
background-color: rgb(36, 36, 36);
}

#barras-menu{
  display: none;
}

@media (max-width: 1070px) {
  #cabecera{
    flex-direction: column;
    gap: 1.1rem;
    padding: 1.5rem;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 601px){
  #cabecera{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
  }

  #cabecera-identidad{
    width: 70%;
    margin-right: 4.8vh;
  }

  #boton-menu-header{
    background: none;
    width: 10%;
  }

  #barras-menu{
    display: block;
    color: rgb(124, 124, 124);
  }
  
  #logo-cabecera{
    width: 100%;
  }

  #barra-de-nav{
    flex-direction: column;
  }

  .menu-plegado .barra-de-navegacion {
    display: none;
  }
}