#sobre-mi{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  background-color: rgb(14, 14, 14);
  border-radius: 1rem;
  margin: 3rem 3rem 5rem 3rem;
}

#titulo-sobre-mi{
  padding-top: 3rem;
  padding-bottom: 2rem;
}

#cont-sobre-mi{
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

#img-sobre-mi{
  width: 500px;
  padding-left: 20vh;
}

#title-hola{
  font-size: 50px;
  padding-top: 3rem;
  padding-left: 4.5rem;
}

.descripcion-profesional{
  padding-top: 4.5rem;
  padding-left: 4.5rem;
  text-align: left;
  padding-top: 3rem;
  text-align: justify;
  font-size: 22px;
  padding-top: 2rem;
  padding-right: 5rem;
}

@media (max-width: 910px) {
  #cont-sobre-mi{
    flex-direction: column;
    align-items: center;
  }

  #img-sobre-mi{
  padding-left: 0vh;
  }

  #title-hola{
  padding-top: 0rem;
  }
  #cierre-sobre-mi{
    padding-bottom: 4.5rem;
  }

  .descripcion-profesional{
    padding-top: 3rem;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
  }

}
