#contacto{
  width: 50%;
  padding-bottom: 4%;
}

#cont-contacto{
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  justify-items: center;
  width: 100%;
}

#cont-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#form-contacto{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  gap: 1rem;
  background-color: rgb(38, 38, 38);
  border-radius: 1rem;
  font-size: 17px;
  padding-top: 1.7rem;
}

.fieldset{
  background-color: rgb(24, 24, 24);
  padding: 0.5rem;
  width: 95%;
  border-radius: 1rem;
  font-size: 20px;
}

.input-form{
  background-color: rgb(24, 24, 24);
  height: 1.5rem;
  width: 100%;
  border-radius: 0.3rem;
  padding-left: 0.3rem;
  font-size: 20px;
  color: white;
}

#input-servicios{
  background-color: rgb(24, 24, 24);
  width: 100%;
  border-radius: 0.3rem;
  padding-left: 0.3rem;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

#button-servicios{
  margin-bottom: 1rem;
  width: 10%;
  background-color: rgb(24, 24, 24);
  color: rgb(197, 197, 197);
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: 18px;
  text-align: center;
}

#button-form{
  background-color: rgb(24, 24, 24);
  color: rgb(197, 197, 197);
  border-radius: 1rem;
  font-size: 1rem;
}

@media (max-width: 1400px){
  #contacto{
    width: 70%;
  }
}

@media (max-width: 1070px){
  #contacto{
    width: 90%;
    padding-bottom: 6%;
  }
}