#articulos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  background-color: rgb(14, 14, 14);
  border-radius: 1rem;
  margin: 3rem 3rem 3rem 3rem;
  padding-bottom: 4.5rem
}

#contenedor-articulos{
  width: 85%;
  display: flex;
  flex-direction: column;  
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
}

.imagen-articulos{
  width: 100%;
}

.articulos-global{
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  border: rgb(80, 80, 80) .2rem solid;
  border-radius: 1rem;
  padding: 2rem;
  gap: 7rem;
}

.imagen-articulos{
  width: 30vh;
}

.parrafo-articulos{
  width: 70%;
  font-size: 2vh;
  text-align: justify;
  padding-right: 5vh;
}

@media (max-width: 1400px){
  .textos-servicios{
    font-size: 1.5vh;
  }
}

@media (max-width: 1070px){
  #contenedor-servicio{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .servicios{
    width: 55%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4rem;
    text-align: center;
    gap: 1rem;
  }
  
  .textos-servicios{
    font-size: 2vh;
  }
}

@media (max-width: 601px){
  #servicios{
    padding-bottom: 2rem;
  }

  .servicios{
    width: 80%;
  }

  .textos-servicios{
    font-size: 2vh;
  }
}