#contenedor-servicio{
  width: 85%;
  display: flex;
  flex-direction: row;  
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 4.5rem;
  gap: 2rem;
}

.imagenes-servicios{
  width: 100%;
}

.servicios{
  width: 25%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4rem;
  text-align: center;
  gap: 1rem;
  background-color: rgb(21, 21, 21);
  border-radius: 1.4rem;
  border-bottom: rgb(80, 80, 80) .2rem solid;
}

.servicios:hover{
  background-color: rgb(39, 39, 39);
}

.pic-servicios{
  grid-row: 1/2;
  grid-column: 1/2;
  width: 100%;
}

.textos-servicios{
  grid-row: 2/3;
  grid-column: 1/2;
  font-size: 1.8vh;
}

@media (max-width: 1400px){
  .textos-servicios{
    font-size: 1.5vh;
  }
}

@media (max-width: 1070px){
  #contenedor-servicio{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .servicios{
    width: 55%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4rem;
    text-align: center;
    gap: 1rem;
  }
  
  .textos-servicios{
    font-size: 2vh;
  }
}

@media (max-width: 601px){
  #contenedor-servicio{
    padding-bottom: 3rem;
  }
  .servicios{
    width: 80%;
  }
  .textos-servicios{
    font-size: 1.6vh;
    padding: 1vh;
  }
}