#articulos-y-contacto{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15vh;
}

#title-articulos-y-contacto{
  display: none;
}


#articulos{
  display: flex;
  flex-direction: column;
  width: 85vh;
  height: 63vh;
  background-color: rgb(14, 14, 14);
  border-radius: 1rem;
  margin: 2rem 0rem 8rem 0rem;
  text-align: center;
}

#titulo-articulos{
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#contenedor-articulos{
  display: flex;
  justify-content: space-around;
  padding-bottom: 5rem;
  list-style: none;
}

.imagen-articulos{
  width: 250px;
}

#articulo-1{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

#pic-articulo-1{
  grid-row: 1/2;
  grid-column: 1/2;
  padding-bottom: 1rem;
}

#texto-articulo-1{
  grid-row: 2/3;
  grid-column: 1/2;
  font-size: 17px;
}

#articulo-2{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

#pic-articulo-2{
  grid-row: 1/2;
  grid-column: 1/2;
  padding-bottom: 1rem;
}

#texto-articulo-2{
  grid-row: 2/3;
  grid-column: 1/2;
  font-size: 17px;
}

#contacto{
  background-color: rgb(14, 14, 14);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vh;
  border-radius: 1rem;
  margin: 0rem 0rem 8rem 0rem;
  padding: 0rem 0rem 0rem 0rem;
}

#title-contacto{
padding-bottom: 3rem;
}

#form-contacto{
  width: 51vh;
  padding-left: 1.7rem;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgb(38, 38, 38);
  border-radius: 1rem;
  font-size: 17px;
}

#footer-button{
  margin-top: 1rem;
  margin-right: 10rem;
}
