#contacto{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 50%;
  background-color: rgb(14, 14, 14);
  border-radius: 1rem;
  margin-bottom: 7rem;
  padding-bottom: 2rem;
}

#title-contacto{
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#cont-contacto{
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  justify-items: center;
  width: 100%;
}
#cont-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#form-contacto{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  gap: 1rem;
  background-color: rgb(38, 38, 38);
  border-radius: 1rem;
  font-size: 17px;
  padding-top: 1.7rem;
  padding-bottom: 4.5remrem;
  display: flex;
}

#form-nombre{
  background-color: rgb(24, 24, 24);
  padding: 0.5rem;
  width: 95%;
  border-radius: 1rem;
  font-size: 20px;
}

#input-nombre{
  background-color: rgb(24, 24, 24);
  height: 1.5rem;
  width: 100%;
  border-radius: 0.3rem;
  padding-left: 0.3rem;
  font-size: 20px;
  color: white;
}

#form-tel{
  background-color: rgb(24, 24, 24);
  padding: 0.5rem;
  width: 95%;
  border-radius: 1rem;
  font-size: 20px;
}

#input-telefono{
  background-color: rgb(24, 24, 24);
  height: 1.5rem;
  width: 100%;
  border-radius: 0.3rem;
  padding-left: 0.3rem;
  font-size: 20px;
  color: white;
}

#form-correo{
  background-color: rgb(24, 24, 24);
  padding: 0.5rem;
  width: 95%;
  border-radius: 1rem;
  font-size: 20px;
}

#input-correo{
  background-color: rgb(24, 24, 24);
  height: 1.5rem;
  width: 100%;
  border-radius: 0.3rem;
  padding-left: 0.3rem;
  font-size: 20px;
  color: white;
}

#form-servicios{
  display: flex;
  flex-direction: column;
  background-color: rgb(24, 24, 24);
  padding: 0.5rem;
  width: 95%;
  border-radius: 1rem;
  font-size: 20px;
}

#input-servicios{
  background-color: rgb(24, 24, 24);
  width: 100%;
  border-radius: 0.3rem;
  padding-left: 0.3rem;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

#button-servicios{
  margin-bottom: 1rem;
  width: 15%;
  background-color: rgb(24, 24, 24);
  color: aliceblue;
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: 18px;
  text-align: center;
}

#button-form{
  background-color: rgb(24, 24, 24);
  color: aliceblue;
  border-radius: 1rem;
  font-size: 18px;
}

#logo-cont{
  width: 13%;
  margin-top: 2rem;
}

#logo-contacto{
  width: 100%;
}

@media (max-width: 910px){
  
}
