#articulos{
  background-color: rgb(14, 14, 14);
  border-radius: 1rem;
  margin: 3rem 20rem 5rem 20rem;
}

#titulo-articulos{
  padding-top: 3rem;
  padding-bottom: 5rem;
}

#contenedor-articulos{
  display: flex;
  justify-content: space-around;
  padding-bottom: 5rem;
  list-style: none;
}

.imagen-articulos{
  width: 250px;
}