#sobre-mi{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  background-color: rgb(14, 14, 14);
  border-radius: 1rem;
  margin: 3rem 3rem 5rem 3rem;
}

#titulo-sobre-mi{
  padding-top: 3rem;
  padding-bottom: 2rem;
}

#cont-sobre-mi{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}

#img-sobre-mi{
  width: 37.5rem;
  padding-left: 8rem;
}

#cont-texto-sobre-mi{
  display: flex;
  flex-direction: column;
  padding: 4.5rem 8rem 4.5rem 4.5rem;
  gap: 1.5rem;
}

#title-hola{
  font-size: 3.2rem;
}

.descripcion-profesional{
  text-align: justify;
  font-size: 1.4rem;
}

@media (max-width: 1400px) {
  #cont-sobre-mi{
    flex-direction: column;
    align-items: center;
  }

  #img-sobre-mi{
    width: 27.5rem;
    padding-left: 0rem;
  }

  #cont-texto-sobre-mi{
    padding-top: 0rem;
    padding-right: 4.5rem;
  }
}

@media (max-width: 600px){
  #sobre-mi{
    margin-top: 1rem;
  }
  #cont-texto-sobre-mi{
    padding: 0rem 2rem 2rem 2rem;
  }

  #img-sobre-mi{
    width: 15.5rem;
    padding-left: 0rem;
  }

  #title-hola{
    font-size: 2.5rem;
  }
  
  .descripcion-profesional{
    text-align: justify;
    font-size: 1.2rem;
  }

}
