*{
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  background-color: rgb(0, 0, 0);
  color: white;
}

header{
  display: flex;
  background-color: rgb(19, 19, 19);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem;
  margin-bottom: 4rem;
}

#logo-cabecera{
  width: 350px;
}

nav > a{
  background-color: rgb(45, 45, 45);
  color: white;
  font-size: 21px;
  margin-left: 20px;
  padding: 8px;
  border-radius: 6px;
  text-decoration: none;
}

nav > a:hover{
background-color: rgb(36, 36, 36);
}

section > h2{
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

#presentacion{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 3rem 3rem 3rem 3rem;
  color: white;
}

#imagen-sobre-mi{
  width: 420px;
  margin-right: 10rem;
  margin-left: 8rem;
}

#descripcion-psicologo{
  font-size: 23px;
  margin-right: 8rem;
  margin-left: 6rem;
}

#contenedor-servicio{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 6rem 3rem 6rem 3rem;
}

.imagenes-servicios{
  width: 300px;
}

#contenedor-articulos{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 6rem 3rem 6rem 3rem;
}

.imagen-articulos{
  width: 300px;
}

footer{
  background-color: rgb(29, 29, 29);
}

#formulario-de-contacto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 6rem 0rem 0rem 0rem;
}

#title-contacto{
  margin-top: 2rem;
  margin-left: 2rem;
}

fieldset{
  margin: 2rem;
}

#footer-button{
  margin-left: 2rem;
  margin-bottom: 2rem;
  background-color: rgb(45, 45, 45);
  color: white;
  font-size: 21px;
  padding: 8px;
  border-radius: 6px;
  text-decoration: none;
}

#footer-button:hover{
  background-color: rgb(36, 36, 36);
  }

#logo-footer{
  width: 300px;
  margin-left: 2rem;
  margin-bottom: 2rem;
}



