*{
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  background-color: rgb(0, 0, 0);
  color: white;
}

header{
  display: flex;
  background-color: rgb(19, 19, 19);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem;
  margin-bottom: 4rem;
}

#logo-cabecera{
  width: 350px;
}

nav > a{
  background-color: rgb(45, 45, 45);
  color: white;
  font-size: 21px;
  margin-left: 20px;
  padding: 8px;
  border-radius: 6px;
  text-decoration: none;
}

nav > a:hover{
background-color: rgb(36, 36, 36);
}

section > h2{
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

#presentacion{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 3rem 3rem 3rem 3rem;
  color: white;
}

#imagen-sobre-mi{
  width: 300px;
  margin-right: 10rem;
  margin-left: 8rem;
}

#descripcion-profesional{
  margin-right: 8rem;
  font-size: 28px;
}

#contenedor-servicio{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 6rem 3rem 6rem 3rem;
}

.imagenes-servicios{
  width: 300px;
}


